MPWebStream/Service References/TVEInteraction/TVEInteractionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tv4home.codeplex.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tv4home.codeplex.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tv4home.codeplex.com/Imports">
      <xsd:import schemaLocation="http://mediastreamer.lan:4321/TV4Home.Server.CoreService/TVEInteractionService?xsd=xsd0" namespace="http://tv4home.codeplex.com" />
      <xsd:import schemaLocation="http://mediastreamer.lan:4321/TV4Home.Server.CoreService/TVEInteractionService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://mediastreamer.lan:4321/TV4Home.Server.CoreService/TVEInteractionService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TV4Home.Server.TVEInteractionLibrary.Interfaces" />
      <xsd:import schemaLocation="http://mediastreamer.lan:4321/TV4Home.Server.CoreService/TVEInteractionService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITVEInteraction_TestConnectionToTVService_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionToTVService" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_TestConnectionToTVService_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionToTVServiceResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_AddSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSchedule" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_AddSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_SwitchTVServerToChannelAndGetStreamingUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:SwitchTVServerToChannelAndGetStreamingUrl" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_SwitchTVServerToChannelAndGetStreamingUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:SwitchTVServerToChannelAndGetStreamingUrlResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_SwitchTVServerToChannelAndGetTimeshiftFilename_InputMessage">
    <wsdl:part name="parameters" element="tns:SwitchTVServerToChannelAndGetTimeshiftFilename" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_SwitchTVServerToChannelAndGetTimeshiftFilename_OutputMessage">
    <wsdl:part name="parameters" element="tns:SwitchTVServerToChannelAndGetTimeshiftFilenameResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_CancelCurrentTimeShifting_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelCurrentTimeShifting" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_CancelCurrentTimeShifting_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelCurrentTimeShiftingResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetChannels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChannels" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetChannels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelsResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetRecordings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordings" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetRecordings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordingsResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetSchedules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedules" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetSchedules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetChannelById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelById" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetChannelById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetProgramById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramById" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetProgramById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetProgramsForChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramsForChannel" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetProgramsForChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramsForChannelResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetProgramIsScheduledOnChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramIsScheduledOnChannel" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetProgramIsScheduledOnChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramIsScheduledOnChannelResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetProgramIsScheduled_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramIsScheduled" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetProgramIsScheduled_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramIsScheduledResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_SearchPrograms_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPrograms" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_SearchPrograms_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchProgramsResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroups" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_CancelSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelSchedule" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_CancelSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetCards_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCards" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetCards_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardsResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetActiveCards_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveCards" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetActiveCards_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveCardsResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetStreamingClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStreamingClients" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetStreamingClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStreamingClientsResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetActiveUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveUsers" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetActiveUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetCurrentProgramOnChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentProgramOnChannel" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_GetCurrentProgramOnChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentProgramOnChannelResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_ReadSettingFromDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadSettingFromDatabase" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_ReadSettingFromDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadSettingFromDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_WriteSettingToDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteSettingToDatabase" />
  </wsdl:message>
  <wsdl:message name="ITVEInteraction_WriteSettingToDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteSettingToDatabaseResponse" />
  </wsdl:message>
  <wsdl:portType name="ITVEInteraction">
    <wsdl:operation name="TestConnectionToTVService">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/TestConnectionToTVService" message="tns:ITVEInteraction_TestConnectionToTVService_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/TestConnectionToTVServiceResponse" message="tns:ITVEInteraction_TestConnectionToTVService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSchedule">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/AddSchedule" message="tns:ITVEInteraction_AddSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/AddScheduleResponse" message="tns:ITVEInteraction_AddSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SwitchTVServerToChannelAndGetStreamingUrl">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/SwitchTVServerToChannelAndGetStreamingUrl" message="tns:ITVEInteraction_SwitchTVServerToChannelAndGetStreamingUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/SwitchTVServerToChannelAndGetStreamingUrlResponse" message="tns:ITVEInteraction_SwitchTVServerToChannelAndGetStreamingUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SwitchTVServerToChannelAndGetTimeshiftFilename">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/SwitchTVServerToChannelAndGetTimeshiftFilename" message="tns:ITVEInteraction_SwitchTVServerToChannelAndGetTimeshiftFilename_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/SwitchTVServerToChannelAndGetTimeshiftFilenameResponse" message="tns:ITVEInteraction_SwitchTVServerToChannelAndGetTimeshiftFilename_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelCurrentTimeShifting">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/CancelCurrentTimeShifting" message="tns:ITVEInteraction_CancelCurrentTimeShifting_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/CancelCurrentTimeShiftingResponse" message="tns:ITVEInteraction_CancelCurrentTimeShifting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChannels">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetChannels" message="tns:ITVEInteraction_GetChannels_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetChannelsResponse" message="tns:ITVEInteraction_GetChannels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordings">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetRecordings" message="tns:ITVEInteraction_GetRecordings_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetRecordingsResponse" message="tns:ITVEInteraction_GetRecordings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedules">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetSchedules" message="tns:ITVEInteraction_GetSchedules_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetSchedulesResponse" message="tns:ITVEInteraction_GetSchedules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelById">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetChannelById" message="tns:ITVEInteraction_GetChannelById_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetChannelByIdResponse" message="tns:ITVEInteraction_GetChannelById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramById">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetProgramById" message="tns:ITVEInteraction_GetProgramById_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetProgramByIdResponse" message="tns:ITVEInteraction_GetProgramById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramsForChannel">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetProgramsForChannel" message="tns:ITVEInteraction_GetProgramsForChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetProgramsForChannelResponse" message="tns:ITVEInteraction_GetProgramsForChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramIsScheduledOnChannel">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetProgramIsScheduledOnChannel" message="tns:ITVEInteraction_GetProgramIsScheduledOnChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetProgramIsScheduledOnChannelResponse" message="tns:ITVEInteraction_GetProgramIsScheduledOnChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramIsScheduled">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetProgramIsScheduled" message="tns:ITVEInteraction_GetProgramIsScheduled_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetProgramIsScheduledResponse" message="tns:ITVEInteraction_GetProgramIsScheduled_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPrograms">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/SearchPrograms" message="tns:ITVEInteraction_SearchPrograms_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/SearchProgramsResponse" message="tns:ITVEInteraction_SearchPrograms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetGroups" message="tns:ITVEInteraction_GetGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetGroupsResponse" message="tns:ITVEInteraction_GetGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelSchedule">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/CancelSchedule" message="tns:ITVEInteraction_CancelSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/CancelScheduleResponse" message="tns:ITVEInteraction_CancelSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCards">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetCards" message="tns:ITVEInteraction_GetCards_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetCardsResponse" message="tns:ITVEInteraction_GetCards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveCards">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetActiveCards" message="tns:ITVEInteraction_GetActiveCards_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetActiveCardsResponse" message="tns:ITVEInteraction_GetActiveCards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStreamingClients">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetStreamingClients" message="tns:ITVEInteraction_GetStreamingClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetStreamingClientsResponse" message="tns:ITVEInteraction_GetStreamingClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveUsers">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetActiveUsers" message="tns:ITVEInteraction_GetActiveUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetActiveUsersResponse" message="tns:ITVEInteraction_GetActiveUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentProgramOnChannel">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetCurrentProgramOnChannel" message="tns:ITVEInteraction_GetCurrentProgramOnChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/GetCurrentProgramOnChannelResponse" message="tns:ITVEInteraction_GetCurrentProgramOnChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/Disconnect" message="tns:ITVEInteraction_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/DisconnectResponse" message="tns:ITVEInteraction_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadSettingFromDatabase">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/ReadSettingFromDatabase" message="tns:ITVEInteraction_ReadSettingFromDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/ReadSettingFromDatabaseResponse" message="tns:ITVEInteraction_ReadSettingFromDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteSettingToDatabase">
      <wsdl:input wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/WriteSettingToDatabase" message="tns:ITVEInteraction_WriteSettingToDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tv4home.codeplex.com/ITVEInteraction/WriteSettingToDatabaseResponse" message="tns:ITVEInteraction_WriteSettingToDatabase_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>