MPWebStream/Service References/TVEInteraction/TVEInteractionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tv4home.codeplex.com" elementFormDefault="qualified" targetNamespace="http://tv4home.codeplex.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mediastreamer.lan:4321/TV4Home.Server.CoreService/TVEInteractionService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TV4Home.Server.TVEInteractionLibrary.Interfaces" />
  <xs:element name="TestConnectionToTVService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionToTVServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestConnectionToTVServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="scheduleType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddScheduleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchTVServerToChannelAndGetStreamingUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchTVServerToChannelAndGetStreamingUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SwitchTVServerToChannelAndGetStreamingUrlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchTVServerToChannelAndGetTimeshiftFilename">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchTVServerToChannelAndGetTimeshiftFilenameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SwitchTVServerToChannelAndGetTimeshiftFilenameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCurrentTimeShifting">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCurrentTimeShiftingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TV4Home.Server.TVEInteractionLibrary.Interfaces" minOccurs="0" name="GetChannelsResult" nillable="true" type="q1:ArrayOfWebChannel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TV4Home.Server.TVEInteractionLibrary.Interfaces" minOccurs="0" name="GetRecordingsResult" nillable="true" type="q2:ArrayOfWebRecording" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TV4Home.Server.TVEInteractionLibrary.Interfaces" minOccurs="0" name="GetSchedulesResult" nillable="true" type="q3:ArrayOfWebSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TV4Home.Server.TVEInteractionLibrary.Interfaces" minOccurs="0" name="GetChannelByIdResult" nillable="true" type="q4:WebChannel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TV4Home.Server.TVEInteractionLibrary.Interfaces" minOccurs="0" name="GetProgramByIdResult" nillable="true" type="q5:WebProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsForChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsForChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TV4Home.Server.TVEInteractionLibrary.Interfaces" minOccurs="0" name="GetProgramsForChannelResult" nillable="true" type="q6:ArrayOfWebProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramIsScheduledOnChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
        <xs:element minOccurs="0" name="programId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramIsScheduledOnChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProgramIsScheduledOnChannelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramIsScheduled">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramIsScheduledResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProgramIsScheduledResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="isSeries" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPrograms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProgramsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TV4Home.Server.TVEInteractionLibrary.Interfaces" minOccurs="0" name="SearchProgramsResult" nillable="true" type="q7:ArrayOfWebProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TV4Home.Server.TVEInteractionLibrary.Interfaces" minOccurs="0" name="GetGroupsResult" nillable="true" type="q8:ArrayOfWebChannelGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelScheduleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCards">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TV4Home.Server.TVEInteractionLibrary.Interfaces" minOccurs="0" name="GetCardsResult" nillable="true" type="q9:ArrayOfWebCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveCards">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveCardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TV4Home.Server.TVEInteractionLibrary.Interfaces" minOccurs="0" name="GetActiveCardsResult" nillable="true" type="q10:ArrayOfWebActiveCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreamingClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreamingClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TV4Home.Server.TVEInteractionLibrary.Interfaces" minOccurs="0" name="GetStreamingClientsResult" nillable="true" type="q11:ArrayOfWebRtspClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TV4Home.Server.TVEInteractionLibrary.Interfaces" minOccurs="0" name="GetActiveUsersResult" nillable="true" type="q12:ArrayOfWebActiveUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentProgramOnChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentProgramOnChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TV4Home.Server.TVEInteractionLibrary.Interfaces" minOccurs="0" name="GetCurrentProgramOnChannelResult" nillable="true" type="q13:WebProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSettingFromDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSettingFromDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadSettingFromDatabaseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteSettingToDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteSettingToDatabaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>