MPWebStream/Service References/TVEInteraction/TVEInteractionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TV4Home.Server.TVEInteractionLibrary.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TV4Home.Server.TVEInteractionLibrary.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mediastreamer.lan:4321/TV4Home.Server.CoreService/TVEInteractionService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfWebChannel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebChannel" nillable="true" type="tns:WebChannel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebChannel" nillable="true" type="tns:ArrayOfWebChannel" />
  <xs:complexType name="WebChannel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentGroup" nillable="true" type="tns:WebChannelGroup" />
      <xs:element minOccurs="0" name="CurrentProgram" nillable="true" type="tns:WebProgram" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpgHasGaps" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExternalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FreeToAir" type="xs:boolean" />
      <xs:element minOccurs="0" name="GrabEpg" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GroupNames" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="IdChannel" type="xs:int" />
      <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRadio" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTv" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastGrabTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextProgram" nillable="true" type="tns:WebProgram" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="TimesWatched" type="xs:int" />
      <xs:element minOccurs="0" name="TotalTimeWatched" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VisibleInGuide" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebChannel" nillable="true" type="tns:WebChannel" />
  <xs:complexType name="WebChannelGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdGroup" type="xs:int" />
      <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebChannelGroup" nillable="true" type="tns:WebChannelGroup" />
  <xs:complexType name="WebProgram">
    <xs:sequence>
      <xs:element minOccurs="0" name="Classification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EpisodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpisodeNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpisodeNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpisodePart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasConflict" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdChannel" type="xs:int" />
      <xs:element minOccurs="0" name="IdProgram" type="xs:int" />
      <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPartialRecordingSeriesPending" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRecording" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRecordingManual" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRecordingOnce" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRecordingOncePending" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRecordingSeries" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRecordingSeriesPending" type="xs:boolean" />
      <xs:element minOccurs="0" name="Notify" type="xs:boolean" />
      <xs:element minOccurs="0" name="OriginalAirDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ParentalRating" type="xs:int" />
      <xs:element minOccurs="0" name="SeriesNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StarRating" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebProgram" nillable="true" type="tns:WebProgram" />
  <xs:complexType name="ArrayOfWebRecording">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebRecording" nillable="true" type="tns:WebRecording" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebRecording" nillable="true" type="tns:ArrayOfWebRecording" />
  <xs:complexType name="WebRecording">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EpisodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpisodeNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpisodeNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpisodePart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdChannel" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecording" type="xs:int" />
      <xs:element minOccurs="0" name="IdServer" type="xs:int" />
      <xs:element minOccurs="0" name="Idschedule" type="xs:int" />
      <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsManual" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRecording" type="xs:boolean" />
      <xs:element minOccurs="0" name="KeepUntil" type="xs:int" />
      <xs:element minOccurs="0" name="KeepUntilDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SeriesNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShouldBeDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StopTime" type="xs:int" />
      <xs:element minOccurs="0" name="TimesWatched" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebRecording" nillable="true" type="tns:WebRecording" />
  <xs:complexType name="ArrayOfWebSchedule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebSchedule" nillable="true" type="tns:WebSchedule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebSchedule" nillable="true" type="tns:ArrayOfWebSchedule" />
  <xs:complexType name="WebSchedule">
    <xs:sequence>
      <xs:element minOccurs="0" name="BitRateMode" type="xs:int" />
      <xs:element minOccurs="0" name="Canceled" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Directory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoesUseEpisodeManagement" type="xs:boolean" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdChannel" type="xs:int" />
      <xs:element minOccurs="0" name="IdParentSchedule" type="xs:int" />
      <xs:element minOccurs="0" name="IdSchedule" type="xs:int" />
      <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsManual" type="xs:boolean" />
      <xs:element minOccurs="0" name="KeepDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="KeepMethod" type="xs:int" />
      <xs:element minOccurs="0" name="MaxAirings" type="xs:int" />
      <xs:element minOccurs="0" name="PostRecordInterval" type="xs:int" />
      <xs:element minOccurs="0" name="PreRecordInterval" type="xs:int" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quality" type="xs:int" />
      <xs:element minOccurs="0" name="QualityType" type="xs:int" />
      <xs:element minOccurs="0" name="RecommendedCard" type="xs:int" />
      <xs:element minOccurs="0" name="ScheduleType" type="xs:int" />
      <xs:element minOccurs="0" name="Series" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebSchedule" nillable="true" type="tns:WebSchedule" />
  <xs:complexType name="ArrayOfWebProgram">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebProgram" nillable="true" type="tns:WebProgram" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebProgram" nillable="true" type="tns:ArrayOfWebProgram" />
  <xs:complexType name="ArrayOfWebChannelGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebChannelGroup" nillable="true" type="tns:WebChannelGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebChannelGroup" nillable="true" type="tns:ArrayOfWebChannelGroup" />
  <xs:complexType name="ArrayOfWebCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebCard" nillable="true" type="tns:WebCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebCard" nillable="true" type="tns:ArrayOfWebCard" />
  <xs:complexType name="WebCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CAM" type="xs:boolean" />
      <xs:element minOccurs="0" name="CamType" type="xs:int" />
      <xs:element minOccurs="0" name="DecryptLimit" type="xs:int" />
      <xs:element minOccurs="0" name="DevicePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="GrabEPG" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdCard" type="xs:int" />
      <xs:element minOccurs="0" name="IdServer" type="xs:int" />
      <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastEpgGrab" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreloadCard" type="xs:boolean" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="RecordingFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordingFormat" type="xs:int" />
      <xs:element minOccurs="0" name="TimeShiftFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="netProvider" type="xs:int" />
      <xs:element minOccurs="0" name="supportSubChannels" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebCard" nillable="true" type="tns:WebCard" />
  <xs:complexType name="ArrayOfWebActiveCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebActiveCard" nillable="true" type="tns:WebActiveCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebActiveCard" nillable="true" type="tns:ArrayOfWebActiveCard" />
  <xs:complexType name="WebActiveCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Channel" nillable="true" type="tns:WebChannel" />
      <xs:element minOccurs="0" name="IsRecording" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTimeShifting" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebActiveCard" nillable="true" type="tns:WebActiveCard" />
  <xs:complexType name="ArrayOfWebRtspClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebRtspClient" nillable="true" type="tns:WebRtspClient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebRtspClient" nillable="true" type="tns:ArrayOfWebRtspClient" />
  <xs:complexType name="WebRtspClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTimeStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpAdress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="StreamName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebRtspClient" nillable="true" type="tns:WebRtspClient" />
  <xs:complexType name="ArrayOfWebActiveUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebActiveUser" nillable="true" type="tns:WebActiveUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebActiveUser" nillable="true" type="tns:ArrayOfWebActiveUser" />
  <xs:complexType name="WebActiveUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Channel" nillable="true" type="tns:WebChannel" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebActiveUser" nillable="true" type="tns:WebActiveUser" />
</xs:schema>